* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

body {
  background-color: #201f41;
  color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-size: cover;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}

#cardizinho{
  border-radius: 15px;
}